<!DOCTYPE html>
<html>
  <head>
    <title>Campus Directory</title>
  </head>
  <body>
    <h1>Welcome to our Campus Directory</h1>
    <p>DBC students attend in the following cities:</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>
  <p>Click <a href="city/new">here</a> to add a location not provided.</p>
  </body>
</html>