

.octo {
  position: relative;
  text-align: center;
  z-index: -1;
}

#hat {
  position: absolute;
  margin-top: 0px;
  text-align: center;
  float: center;
  z-index: 0;
}

#glass {
  position: absolute;
  text-align: center;
  float: center;
  z-index: 11;
}
