.whole-thang {
  text-align: center;
}

#octopus {
  position: absolute;
  z-index: 0;
  padding: 70px;
}

#hat {
  position: relative;
  right: 87px;
  z-index: 1;
}

#glasses {
  position: relative;
  top: 115px;
  left: 115px;
  z-index: 2;
}

